.filters-section__filter-list {
  .filter {
    &:active,
    &:hover {
      background: $martinique;
    }

    a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: $white;
      font-size: .875rem;
      padding: 15px;
    }

    &__txt {
      margin-left: 8px;
    }
    &__counter {
      flex: 1 0 auto;
      text-align: right;
    }

    &--all {

    }

    &--open {

    }

    &--closed {

    }
  }
}