.issue-list-section {
  flex: 1 0 auto;
  background-color: $wild-sand;
  overflow-y: auto;
  padding: 11px 10px 0 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  @include breakpoint(sm) {
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
