// fonts
$white: #fff;
$black: #000;
$gray: #8a8995;

// stars
$ebony-clay: #21233d;
// border
$lightgray: #ada1a1;

// sidebar styles
$mirage: rgba(19, 21, 40, .9);

// navigation active
$vulcan: #101022;
$martinique:#292a48;

// dots
$red: #ff594f;
$yellow: #ffbc1b;
$green: #00cd46;

// issue list styles
$wild-sand: #f6f6f6;
$alto: #e0e0e0;
